@import "@styles/variables.scss";

#app .modal {
    font-size:16px;
    position:fixed;
    z-index:100;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    overflow-y:auto;
    align-items:center;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.75);

    @media (min-width: $screen_sm) {
        font-size:18px;
    }

    @media (min-width: $screen_md) {
        font-size:20px;
    }

    &.active {
        display:flex;
    }

    .modal_content {
        position:relative;
        width:100%;
        max-width:568px;
        margin:0 15px;
        color:#000000;
        background-color:#ffffff;

        .modal_header {
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding:10px;
            border-bottom:1px solid #1976d2;
            background-color:#64b5f6;

            .title {
                font-size:24px;
                font-weight:bold;
            }

            .close {
                font-size:24px;
                font-weight:bold;
                padding:0 7px;
                cursor:pointer;
                text-align:center;
                color:#ffffff;
                border-radius:50%;
                background-color:#000000;
            }
        }

        .modal_body {
            display:flex;
            overflow:auto;
            flex-direction:column;
            max-height:50vh;
            padding:10px;
        }

        .modal_footer {
            display:flex;
            align-items:center;
            justify-content:space-around;
            padding:10px 30px;
        }
    }
}
