@import "@styles/variables.scss";

#app .modal .modal_content .modal_body {
    .modal_menu {
        display:flex;
        align-items:center;
        padding:0 10px;
        min-height:min-content;

        .btn {
            font-size:0.8em;
            margin-right:10px;
        }
    }

    .details_container {
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:10px 0;
        min-height:min-content;

        .poster {
            height:200px;
            padding:5px;

            img {
                display:block;
                width:auto;
                height:100%;
            }
        }

        .details {
            display:flex;
            flex-direction:column;
            align-items:center;
            padding:5px;

            .movie_title {
                font-size:1.5em;
                margin-bottom:10px;
                font-weight:bold;
            }

            .details_item {
                margin-bottom:5px;

                .details_item_data {
                    margin-left:5px;
                }
            }
        }

        @media (min-width: $screen_sm) {
            justify-content:space-between;
            flex-direction:row;
            align-items:flex-start;

            .poster {
                flex-basis:30%;
                height:auto;

                img {
                    width:100%;
                    height:auto;
                }
            }

            .details {
                align-items:flex-start;
                flex-basis:70%;

                .details_item {
                    padding-left:10px;
                }
            }
        }
    }
}

