
#app main .movies{

    .movie{
        position: relative;
        flex-basis: 18%;
        cursor: pointer;
        margin: 10px 1%; 

        img{
            display: block;
            width: 100%;
            height: 280px;
        }
        
        .overlay{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 0;
            transition: .5s ease;
        }

        .overlay .movie_title {
            color: white;
            font-size: 20px;
            text-align: center;
            white-space: nowrap;
            user-select: none;
        }

        .scroll_animation{
            -moz-animation: scrolling_text 7s linear infinite;
            -webkit-animation: scrolling_text 7s linear infinite;
            animation: scrolling_text 7s linear infinite;
            animation-play-state: paused;
        }

        &:hover {
        
            .overlay {
                height: 20%;
            }
    
            .scroll_animation{
                animation-play-state: running;
            }
        }
    } 


    @keyframes scrolling_text {
        0%   { 
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%); 
        transform: translateX(100%); 		
        }
    
        100% { 
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%); 
        transform: translateX(-100%); 
        }
    }
}