#app .modal .modal_content .modal_body{

    form{
        display: flex;
        flex-direction: column;

        padding: 10px 30px;
        
        .form_group{
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            label{
                flex-basis: 20%;
                padding-right: 10px;
            }
            
            input{
                flex-basis: 40%;  
                padding: 5px;
            }

            .error_msg{
                flex-basis: 40%;
                color:#ff0000;
                font-size: 0.7em;
                padding-left: 10px;
                display: none;
            }

            &.error{

                input{
                    border: 2px solid #ff000080 ;    
                }

                .error_msg{
                    display: block;
                }
            }
        }
    }
}
