#app .modal .modal_content .modal_body{

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;


    }

    .message_movie_title{
        font-weight: bold;
        margin:0 5px;
    }
}