*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fff;
    color: #484848;
}

#app{
    min-height: 100vh;
    padding-bottom: 30px;
}